version: "3.9"

services:

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: assessment
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    command: >
      sh -c "
        ollama serve &
        sleep 5 &&
        ollama pull llama3:8b-instruct-q4_K_M &&
        wait
      "

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/assessment
    depends_on:
      - postgres
      - ollama
    command: >
      sh -c "
        npx prisma migrate deploy &&
        npm run dev
      "

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  pgdata:
  ollama_data:
